@import "../../scss/mixins";
@import "../../scss/variables";

.cards {
  @include flex(center);
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  width: 350px;
  height: 450px;
  box-shadow: 0 0 5px black;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  background-color: $textLight;

  &:hover .title {
    transition: all 1s ease;
    transform: translateX(0);
  }
}

img {
  width: 100%;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transition: all 1s ease;
  }
}

.price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bgColor;
  color: $textLight;
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $bgColor;
  color: white;
  transform: translateX(350px);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  text-align: justify;
}
