header {
    text-align: center;
}

header h1 {
    color: #CD890C;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: #FE4B08;
    }
}